.badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badge-text {
  position: relative;
  text-align: center;
  line-height: 0.5;
  margin-bottom: -12px;
  font-family: UnifrakturCook, "Times New Roman", serif;
  font-size: 6rem;
  font-weight: bold;
  color: #bfbb63;
  text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;
  z-index: 3;
}

.badge-image {
  -webkit-transform: rotate(-2deg) translateX(2px);
  -moz-transform: rotate(-2deg) translateX(2px);
  -ms-transform: rotate(-2deg) translateX(2px);
  -o-transform: rotate(-2deg) translateX(2px);
  transform: rotate(-2deg) translateX(2px);
  z-index: 2;
}

.badge-image img {
  margin-bottom: 0;
  filter: contrast(120%);
}
