.nav-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  margin: 0;
}

.header-nav {
  font-family: Chango, UnifrakturCook, serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-content: center;
  padding: 8px;
}

.nav-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  margin: 10px 0;
}

.nav-link {
  font-size: 5rem;
  text-decoration: none;
  line-height: 0.8;
}
